<div class="tout">
<div class="container">
    <form class="form" #myForm="ngForm" (ngSubmit)="onSubmit()">
        <label for="newWebSite">New WebSite : </label>
        <input
        type="text"
        name="webSite"
        id="newWebSite"
        [(ngModel)]=safe.webSite
        #webSite="ngModel"
      />
      <label for="newWord">New Password : </label>
      <input
      type="text"
      name="word"
      id="newWord"
      [(ngModel)]=safe.word
      #word="ngModel"
    />
    <button type="submit"> Create </button>
      </form>
</div> 
<div class="safe-block">
    <div class="safe-body">
        <ul>
            <li *ngFor="let safe of safes">
               Website : {{ safe.webSite }}
               Password : {{ safe.word }}
            </li>
        </ul>
    </div>
</div>
</div>

